@{
    ViewBag.Title = "Index Page";
}
@section Slider{
    <div id="slider-bg">
        <div class="container">
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:500px;">
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:500px;height:500;">
                    <ul>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
                            <img src="~/content/images/benar.jpg" alt="slide1-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="repeat">
                            <div class="tp-caption tp-fade customout"
                                 data-x="right" data-hoffset="-30"
                                 data-y="center" data-voffset="0"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="300"
                                 data-start="500"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 data-autoplay="false"
                                 data-autoplayonlyfirsttime="false"
                                 style="z-index: 3;">
                                <a href="#"><img src="~/content/images/video.png" alt="" data-ww="591" data-hh="336"></a>
                            </div>
                            <div class="benar_1 tp-caption custom_large_heading sfr str tp-resizeme"
                                 data-x="10"
                                 data-y="bottom" data-voffset="-100"
                                 data-speed="300"
                                 data-start="800"
                                 data-easing="easeInSine"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="700"
                                 data-endeasing="easeInSine"
                                 style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                <h1>Lorem Ipsum is simply dummy </h1>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    textLorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy textLorem Ipsum is simply dummy text
                                    of the printing and typesetting industry.
                                </p>
                                <div class="login"><a class="mybtn mybtn-flat-turquoise" href="#"><span>MORE</span></a></div>
                            </div>
                        </li>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
                            <img src="~/content/images/benar.jpg" alt="slide2-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="tp-caption sft customout"
                                 data-x="500"
                                 data-y="385"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="1000"
                                 data-start="600"
                                 data-easing="Back.easeOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 2;">
                                <img src="~/content/images/videoshadow.png" alt="">
                            </div>
                            <div class="tp-caption tp-fade customout"
                                 data-x="right" data-hoffset="-30"
                                 data-y="center" data-voffset="0"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="300"
                                 data-start="500"
                                 data-easing="Power3.easeInOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 data-autoplay="false"
                                 data-autoplayonlyfirsttime="false"
                                 style="z-index: 3;">
                                <iframe src='http://player.vimeo.com/video/85724361?title=0&byline=0&portrait=0;api=1' width='640' height='360' style='width:550px;height:360px;'></iframe>
                            </div>
                            <div class="benar_1 tp-caption custom_large_heading sfr str tp-resizeme"
                                 data-x="10"
                                 data-y="top" data-voffset="75"
                                 data-speed="300"
                                 data-start="800"
                                 data-easing="easeInSine"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="700"
                                 data-endeasing="easeInSine"
                                 style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                <h1>Lorem Ipsum is simply dummy </h1>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    textLorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy textLorem Ipsum is simply dummy text
                                    of the printing and typesetting industry.
                                </p>
                                <div class="login"><a class="mybtn mybtn-flat-turquoise" href="#"><span>MORE</span></a></div>
                            </div>
                            <div class="slider_banner1 tp-caption modern_big_redbg sfr customout tp-resizeme"
                                 data-x="532"
                                 data-y="271"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="500"
                                 data-start="1500"
                                 data-easing="Power4.easeOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="500"
                                 style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Vimeo</div>
                            <div class="slider_banner1 tp-caption modern_big_redbg sfr customout tp-resizeme"
                                 data-x="517"
                                 data-y="312"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="500"
                                 data-start="1800"
                                 data-easing="Power4.easeOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="500"
                                 style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">YouTube</div>
                            <div class="slider_banner1 tp-caption modern_big_redbg sfr customout tp-resizeme"
                                 data-x="448"
                                 data-y="353"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="500"
                                 data-start="2100"
                                 data-easing="Power4.easeOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="500"
                                 style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">Self-Hosted HTML5</div>
                        </li>
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
                            <img src="~/content/images/benar.jpg" alt="slide3-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <div class="benar_1 tp-caption custom_large_heading sfr str tp-resizeme slider_banner_3"
                                 data-x="380"
                                 data-y="top" data-voffset="75"
                                 data-speed="300"
                                 data-start="800"
                                 data-easing="easeInSine"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="700"
                                 data-endeasing="easeInSine"
                                 style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                <h1>Lorem Ipsum is simply dummy </h1>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    textLorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy text Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy textLorem Ipsum is simply dummy text
                                    of the printing and typesetting industry.
                                </p>
                                <div class="login"><a class="mybtn mybtn-flat-turquoise" href="#"><span>MORE</span></a></div>
                            </div>

                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
        </div>
    </div>
}
@section Features_1{

    <div class="content_top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="butten">
                        <a href="#">See More Features</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Traders{
    <div class="content_center_1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    <div class="platform">
                        <h3>A Platform connected with Trader and Investor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-7">
                    <div class="tebal">
                        <h4>Most Followed Traders</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="avatar"><img data-original="https://s3.etoro.com/~/content/images/users-avatars/35X35/668069.jpg" src="~/content/images/mena.png" style="display: inline;"></td>
                                    <td class="name">Lorem Ipsum</td>
                                    <td class="copiers">5105</td>
                                    <td class="copiers">100.00%</td>
                                    <td class="gain">13.43%</td>
                                </tr>
                                <tr class="most_color">
                                    <td class="avatar"><img data-original="https://s3.etoro.com/~/content/images/users-avatars/35X35/2168092.jpg" src="~/content/images/mena.png" style="display: inline;"></td>
                                    <td class="name">Lorem Ipsum</td>
                                    <td class="copiers">2298</td>
                                    <td class="copiers">98.70%</td>
                                    <td class="gain">143.88%</td>
                                </tr>
                                <tr>
                                    <td class="avatar"><img data-original="https://s3.etoro.com/~/content/images/users-avatars/35X35/1726140/2.jpg" src="~/content/images/mena.png" style="display: inline;"></td>
                                    <td class="name">Lorem Ipsum</td>
                                    <td class="copiers">1347</td>
                                    <td class="copiers">87.34%</td>
                                    <td class="gain">228.63%</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="placeBox">
                            <div class="no">1 </div>
                            <div class="challenge-winner">
                                <div class="avatar_1 inline"><img data-original="https://s3.etoro.com/~/content/images/users-avatars/150X150/668069.jpg" src="~/content/images/mena_1.png" style="display: inline;"></div>
                                <div class="username inline">
                                    Lorem Ipsum<span class="small italic">From Spain</span>
                                </div>
                                <div class="copiers_1 inline padded">
                                    5092 <span class="small">Copiers</span>
                                </div>
                                <div class="win-ratio inline padded">
                                    100.00% <span class="small">Win Ratio</span>
                                </div>
                                <div class="gain inline padded">
                                    14.18% <span class="small">Gain</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Intro_1{
    <div class="line"></div>
    <div class="content_center_2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="images">
                        <img src="~/content/images/images-1.png" alt="mep" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="platform_1">
                        <h3>Connected global market</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section User_Education{
    <div class="line"></div>
    <div class="content_center_3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="platform">
                        <h3>Online Education</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
                    </div>
                </div>                
                <div class="col-md-6 col-sm-6">
                    <div class="images">
                        <img src="~/content/images/images-2.png" alt="mep" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Partners{
    <div class="line"></div>
    <div class="partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h4>Partner</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul class="logo_img">
                        <li>
                            <a href="#"><img src="~/content/images/logo_img_1.png" alt="logo" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/content/images/logo_img_2.png" alt="logo" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/content/images/logo_img_3.png" alt="logo" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/content/images/logo_img_4.png" alt="logo" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/content/images/logo_img_5.png" alt="logo" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="~/content/images/logo_img_6.png" alt="logo" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
